/*********************************************************************/
/***** BEGIN DESIGNPLUS THEME IMPORT & CUSTOMIZATION  ****************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */

/*** Legacy Sidebar ***/
/* For Main CSS file */
/*@import url(https://designtools.ciditools.com/css/themes.css);*/
/* For Mobile app CSS file */
@import url(https://designtools.ciditools.com/css/app.css);
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);

/*** New Sidebar ***/
/* For Main CSS files */
/*@import url(https://designplus.ciditools.com/css/content.css);*/
/*@import url(https://designplus.ciditools.com/css/editor.css);*/
/* For Mobile app CSS file */
@import url(https://designplus.ciditools.com/css/mobile.css);

:root {
    --dt-color-primary: #4B2E83;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #4b2e83;
    --dt-color-secondary: #E8E3D3;
    --dt-color-secondary-contrast: #000000;
    --dt-color-secondary-dark-text: #736743;
    --dt-color-accent: #FFFFFF;
    --dt-color-accent-contrast: #000000;
    --dt-color-accent-dark-text: #6B6B6B;
    --dt-color-gray: #D9D9D9;
    --dt-color-gray-contrast: #000000;
    --dt-color-gray-dark-text: #636363;
    --dt-color-white: #FFFFFF;
    --dt-color-white-contrast: #000000;
    --dt-color-white-dark-text: #707070;
}

/*********************************************************************/
/***** END DESIGNPLUS THEME IMPORT & CUSTOMIZATION   *****************/
/*********************************************************************/

