/*** Via Flexbox Grid (http://flexboxgrid.com/) ***/
.early-ed-wrap {
        box-sizing: border-box;
        margin: 0 auto
}

.early-ed-page-section {
        padding-top: 3rem;
        margin-bottom: 3rem
}

.early-ed-box-row {
        margin-bottom: 1rem
}

.early-ed-box-container {
        box-sizing: border-box;
        padding: .5rem
}

.early-ed-container,.early-ed-container-fluid {
        margin-right: auto;
        margin-left: auto
}

.early-ed-container-fluid {
/*
        padding-right: 2rem;
        padding-left: 2rem
*/
}

.early-ed-row {
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -.5rem;
        margin-left: -.5rem
}

.early-ed-row.reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
}

.early-ed-col.early-ed-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
}

.early-ed-col-xs,
.early-ed-col-xs-1,
.early-ed-col-xs-10,
.early-ed-col-xs-11,
.early-ed-col-xs-12,
.early-ed-col-xs-2,
.early-ed-col-xs-3,
.early-ed-col-xs-4,
.early-ed-col-xs-5,
.early-ed-col-xs-6,
.early-ed-col-xs-7,
.early-ed-col-xs-8,
.early-ed-col-xs-9,
.early-ed-col-xs-offset-0,
.early-ed-col-xs-offset-1,
.early-ed-col-xs-offset-10,
.early-ed-col-xs-offset-11,
.early-ed-col-xs-offset-12,
.early-ed-col-xs-offset-2,
.early-ed-col-xs-offset-3,
.early-ed-col-xs-offset-4,
.early-ed-col-xs-offset-5,
.early-ed-col-xs-offset-6,
.early-ed-col-xs-offset-7,
.early-ed-col-xs-offset-8,
.early-ed-col-xs-offset-9 {
box-sizing: border-box;
-webkit-box-flex: 0;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
padding-right: .5rem;
padding-left: .5rem
}

.early-ed-col-xs {
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-ms-flex-preferred-size: 0;
flex-basis: 0;
max-width: 100%
}

.early-ed-col-xs-1 {
-ms-flex-preferred-size: 8.33333333%;
flex-basis: 8.33333333%;
max-width: 8.33333333%
}

.early-ed-col-xs-2 {
-ms-flex-preferred-size: 16.66666667%;
flex-basis: 16.66666667%;
max-width: 16.66666667%
}

.early-ed-col-xs-3 {
-ms-flex-preferred-size: 25%;
flex-basis: 25%;
max-width: 25%
}

.early-ed-col-xs-4 {
-ms-flex-preferred-size: 33.33333333%;
flex-basis: 33.33333333%;
max-width: 33.33333333%
}

.early-ed-col-xs-5 {
-ms-flex-preferred-size: 41.66666667%;
flex-basis: 41.66666667%;
max-width: 41.66666667%
}

.early-ed-col-xs-6 {
-ms-flex-preferred-size: 50%;
flex-basis: 50%;
max-width: 50%
}

.early-ed-col-xs-7 {
-ms-flex-preferred-size: 58.33333333%;
flex-basis: 58.33333333%;
max-width: 58.33333333%
}

.early-ed-col-xs-8 {
-ms-flex-preferred-size: 66.66666667%;
flex-basis: 66.66666667%;
max-width: 66.66666667%
}

.early-ed-col-xs-9 {
-ms-flex-preferred-size: 75%;
flex-basis: 75%;
max-width: 75%
}

.early-ed-col-xs-10 {
-ms-flex-preferred-size: 83.33333333%;
flex-basis: 83.33333333%;
max-width: 83.33333333%
}

.early-ed-col-xs-11 {
-ms-flex-preferred-size: 91.66666667%;
flex-basis: 91.66666667%;
max-width: 91.66666667%
}

.early-ed-col-xs-12 {
-ms-flex-preferred-size: 100%;
flex-basis: 100%;
max-width: 100%
}

.early-ed-col-xs-offset-0 {
margin-left: 0
}

.col-xs-offset-1 {
margin-left: 8.33333333%
}

.early-ed-col-xs-offset-2 {
margin-left: 16.66666667%
}

.early-ed-col-xs-offset-3 {
margin-left: 25%
}

.early-ed-col-xs-offset-4 {
margin-left: 33.33333333%
}

.early-ed-col-xs-offset-5 {
margin-left: 41.66666667%
}

.early-ed-col-xs-offset-6 {
margin-left: 50%
}

.early-ed-col-xs-offset-7 {
margin-left: 58.33333333%
}

.early-ed-col-xs-offset-8 {
margin-left: 66.66666667%
}

.early-ed-col-xs-offset-9 {
margin-left: 75%
}

.early-ed-col-xs-offset-10 {
margin-left: 83.33333333%
}

.early-ed-col-xs-offset-11 {
margin-left: 91.66666667%
}

.early-ed-start-xs {
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
text-align: start
}

.early-ed-center-xs {
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
text-align: center
}

.early-ed-end-xs {
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
text-align: end
}

.early-ed-top-xs {
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start
}

.early-ed-middle-xs {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center
}

.early-ed-bottom-xs {
-webkit-box-align: end;
-ms-flex-align: end;
align-items: flex-end
}

.early-ed-around-xs {
-ms-flex-pack: distribute;
justify-content: space-around
}

.early-ed-between-xs {
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between
}

.early-ed-first-xs {
-webkit-box-ordinal-group: 0;
-ms-flex-order: -1;
order: -1
}

.early-ed-last-xs {
-webkit-box-ordinal-group: 2;
-ms-flex-order: 1;
order: 1
}

@media only screen and (min-width: 48em) {
.early-ed-container {
        width:49rem
}

.early-ed-col-sm,
.early-ed-col-sm-1,
.early-ed-col-sm-10,
.early-ed-col-sm-11,
.early-ed-col-sm-12,
.early-ed-col-sm-2,
.early-ed-col-sm-3,
.early-ed-col-sm-4,
.early-ed-col-sm-5,
.early-ed-col-sm-6,
.early-ed-col-sm-7,
.early-ed-col-sm-8,
.early-ed-col-sm-9,
.early-ed-col-sm-offset-0,
.early-ed-col-sm-offset-1,
.early-ed-col-sm-offset-10,
.early-ed-col-sm-offset-11,
.early-ed-col-sm-offset-12,
.early-ed-col-sm-offset-2,
.early-ed-col-sm-offset-3,
.early-ed-col-sm-offset-4,
.early-ed-col-sm-offset-5,
.early-ed-col-sm-offset-6,
.early-ed-col-sm-offset-7,
.early-ed-col-sm-offset-8,
.early-ed-col-sm-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
}

.early-ed-col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
}

.early-ed-col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
}

.early-ed-col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
}

.early-ed-col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
}

.early-ed-col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
}

.early-ed-col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
}

.early-ed-col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
}

.early-ed-col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
}

.early-ed-col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
}

.early-ed-col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
}

.early-ed-col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
}

.early-ed-col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
}

.early-ed-col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
}

.early-ed-col-sm-offset-0 {
        margin-left: 0
}

.early-ed-col-sm-offset-1 {
        margin-left: 8.33333333%
}

.early-ed-col-sm-offset-2 {
        margin-left: 16.66666667%
}

.early-ed-col-sm-offset-3 {
        margin-left: 25%
}

.early-ed-col-sm-offset-4 {
        margin-left: 33.33333333%
}

.early-ed-col-sm-offset-5 {
        margin-left: 41.66666667%
}

.early-ed-col-sm-offset-6 {
        margin-left: 50%
}

.early-ed-col-sm-offset-7 {
        margin-left: 58.33333333%
}

.early-ed-col-sm-offset-8 {
        margin-left: 66.66666667%
}

.early-ed-col-sm-offset-9 {
        margin-left: 75%
}

.early-ed-col-sm-offset-10 {
        margin-left: 83.33333333%
}

.early-ed-col-sm-offset-11 {
        margin-left: 91.66666667%
}

.early-ed-start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
}

.early-ed-center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
}

.early-ed-end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
}

.early-ed-top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
}

.early-ed-middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
}

.early-ed-bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
}

.early-ed-around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around
}

.early-ed-between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
}

.early-ed-first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
}

.early-ed-last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
}
}

@media only screen and (min-width: 64em) {
.early-ed-container {
        width:65rem
}

.early-ed-col-md,
.early-ed-col-md-1,
.early-ed-col-md-10,
.early-ed-col-md-11,
.early-ed-col-md-12,
.early-ed-col-md-2,
.early-ed-col-md-3,
.early-ed-col-md-4,
.early-ed-col-md-5,
.early-ed-col-md-6,
.early-ed-col-md-7,
.early-ed-col-md-8,
.early-ed-col-md-9,
.early-ed-col-md-offset-0,
.early-ed-col-md-offset-1,
.early-ed-col-md-offset-10,
.early-ed-col-md-offset-11,
.early-ed-col-md-offset-12,
.early-ed-col-md-offset-2,
.early-ed-col-md-offset-3,
.early-ed-col-md-offset-4,
.early-ed-col-md-offset-5,
.early-ed-col-md-offset-6,
.early-ed-col-md-offset-7,
.early-ed-col-md-offset-8,
.early-ed-col-md-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
}

.early-ed-col-md {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
}

.early-ed-col-md-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
}

.early-ed-col-md-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
}

.early-ed-col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
}

.early-ed-col-md-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
}

.early-ed-col-md-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
}

.early-ed-col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
}

.early-ed-col-md-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
}

.early-ed-col-md-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
}

.early-ed-col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
}

.early-ed-col-md-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
}

.early-ed-col-md-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
}

.early-ed-col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
}

.early-ed-col-md-offset-0 {
        margin-left: 0
}

.early-ed-col-md-offset-1 {
        margin-left: 8.33333333%
}

.early-ed-col-md-offset-2 {
        margin-left: 16.66666667%
}

.early-ed-col-md-offset-3 {
        margin-left: 25%
}

.early-ed-col-md-offset-4 {
        margin-left: 33.33333333%
}

.early-ed-col-md-offset-5 {
        margin-left: 41.66666667%
}

.early-ed-col-md-offset-6 {
        margin-left: 50%
}

.early-ed-col-md-offset-7 {
        margin-left: 58.33333333%
}

.early-ed-col-md-offset-8 {
        margin-left: 66.66666667%
}

.early-ed-col-md-offset-9 {
        margin-left: 75%
}

.early-ed-col-md-offset-10 {
        margin-left: 83.33333333%
}

.early-ed-col-md-offset-11 {
        margin-left: 91.66666667%
}

.early-ed-start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
}

.early-ed-center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
}

.early-ed-end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
}

.early-ed-top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
}

.early-ed-middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
}

.early-ed-bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
}

.early-ed-around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around
}

.early-ed-between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
}

.early-ed-first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
}

.early-ed-last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
}
}

@media only screen and (min-width: 75em) {
.early-ed-container {
        width:76rem
}

.early-ed-col-lg,
.early-ed-col-lg-1,
.early-ed-col-lg-10,
.early-ed-col-lg-11,
.early-ed-col-lg-12,
.early-ed-col-lg-2,
.early-ed-col-lg-3,
.early-ed-col-lg-4,
.early-ed-col-lg-5,
.early-ed-col-lg-6,
.early-ed-col-lg-7,
.early-ed-col-lg-8,
.early-ed-col-lg-9,
.early-ed-col-lg-offset-0,
.early-ed-col-lg-offset-1,
.early-ed-col-lg-offset-10,
.early-ed-col-lg-offset-11,
.early-ed-col-lg-offset-12,
.early-ed-col-lg-offset-2,
.early-ed-col-lg-offset-3,
.early-ed-col-lg-offset-4,
.early-ed-col-lg-offset-5,
.early-ed-col-lg-offset-6,
.early-ed-col-lg-offset-7,
.early-ed-col-lg-offset-8,
.early-ed-col-lg-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
}

.early-ed-col-lg {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
}

.early-ed-col-lg-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
}

.early-ed-col-lg-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
}

.early-ed-col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
}

.early-ed-col-lg-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
}

.early-ed-col-lg-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
}

.early-ed-col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
}

.early-ed-col-lg-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
}

.early-ed-col-lg-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
}

.early-ed-col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
}

.col-lg-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
}

.early-ed-col-lg-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
}

.early-ed-col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
}

.early-ed-col-lg-offset-0 {
        margin-left: 0
}

.early-ed-col-lg-offset-1 {
        margin-left: 8.33333333%
}

.early-ed-col-lg-offset-2 {
        margin-left: 16.66666667%
}

.early-ed-col-lg-offset-3 {
        margin-left: 25%
}

.early-ed-col-lg-offset-4 {
        margin-left: 33.33333333%
}

.early-ed-col-lg-offset-5 {
        margin-left: 41.66666667%
}

.early-ed-col-lg-offset-6 {
        margin-left: 50%
}

.early-ed-col-lg-offset-7 {
        margin-left: 58.33333333%
}

.early-ed-col-lg-offset-8 {
        margin-left: 66.66666667%
}

.early-ed-col-lg-offset-9 {
        margin-left: 75%
}

.early-ed-col-lg-offset-10 {
        margin-left: 83.33333333%
}

.early-ed-col-lg-offset-11 {
        margin-left: 91.66666667%
}

.early-ed-start-lg {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
}

.early-ed-center-lg {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
}

.early-ed-end-lg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
}

.early-ed-top-lg {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
}

.early-ed-middle-lg {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
}

.early-ed-bottom-lg {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
}

.early-ed-around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around
}

.early-ed-between-lg {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
}

.early-ed-first-lg {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
}

.early-ed-last-lg {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
}
}

/***  Custom Styles ***/

.early-ed-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    font-size: 1.3rem;
}
/* Better img loading: http://daverupert.com/2015/12/intrinsic-placeholders-with-picture/ */

.early-ed-intrinsic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
}

.early-ed-intrinsic-item {
  padding-bottom: 57.143%;
}

.early-ed-intrinsic-square-item {
  padding-bottom: 100%;
}

.early-ed-intrinsic-img {
/*
    position: absolute;
    top: 0;
    left: 0;
*/
    width: 100%;
    height: 100%;
}

/* Cropping an image via CSS: http://www.squareonemd.co.uk/how-to-crop-an-image-with-a-css-class/ */

.early-ed-section-image-crop {
    width: 100%;
    height: 200px;
  overflow: hidden;
    position: relative;
}

.early-ed-section-image-crop img {
    width: 100%;
}

.early-ed-section-image-crop-centered {
position: absolute;
top: -10%;
}

.early-ed-section-lesson-list {
    list-style: none;
    padding-left: 0px;
    width: 75%;
}

.early-ed-section-lesson-list li {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px gray solid;
}

.early-edu-activity h4 {
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: 700;
}

@media only screen and (min-width: 48em) {
    .early-edu-activity dt {
    float: left;
    clear: left;
        padding-right: 10px;
    }
}
.early-edu-activity dt {
    font-weight: bold;
        font-size: 1rem;
    color: #333;
    text-transform: uppercase;
        line-height: 1.4rem;
}
.early-edu-activity dt,
.early-edu-activity dd {
    padding-bottom: 12px;
}

.early-ed-lesson-header {
    padding: 100px 100px;
    background: #4b2e83;
    color: #fff;
}

.early-ed-lesson-content {
    padding-top: 50px;
}

.early-ed-simple-divider {
    display: block;
    width: 61%;
    height: 1px;
    margin: 30px auto;
    background-color: rgba(75, 46, 131, .2);
}

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
.early-ed-blockquote,
.early-ed-assignment {
  background: #f9f9f9;
  border-left: 10px solid #4b2e83;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.early-ed-blockquote:before {
  color: #4b2e83;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.early-ed-blockquote p {
  display: inline;
}

.early-ed-reading {
    border-left: 10px solid red;
}

.early-ed-discussion {
    border-left: 10px solid blue;
}

.early-ed-reflection {
    border-left: 10px solid green;
}

.early-ed-discussion-question,
.early-ed-big-font {
    font-size: 2em;
}

.early-ed-coaching-companion {
    border-left: 10px solid orange;
}

.early-ed-housekeeping {
    border-left: 10px solid #e7d516;
}

.early-ed-alt-option {
    font-size: 0.9em;
}

.early-ed-cc-embed {
    position: relative;
    height: 0;
    min-height: 460px;
    padding-bottom: 56.25%;
}

.early-ed-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.early-ed-lesson-footer {
    padding: 25px 25px;
    background: #4b2e83;
    color: #fff;
}
