/*********************************************************************/
/***** DESIGN TOOLS CORE THEME IMPORT ********************************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/*********************************************************************/

/*********************************************************************/
/***** BEGIN UW CUSTOM CSS  ******************************************/
/*********************************************************************/
/*a {
  text-decoration: none !important;
}*/

.user_content a:not(.btn):not(.Button):not(.ui-button),
.mceContentBody a:not(.btn):not(.Button):not(.ui-button) {
  text-decoration: none;
}
.user_content a:not(.btn):not(.Button):not(.ui-button):hover,
.mceContentBody a:not(.btn):not(.Button):not(.ui-button):hover {
  text-decoration: underline;
}

@media only screen and (max-width: 920px) {
  .col-md-4 {
    min-width: 100% !important;
  }
}
@media only screen and (max-width: 880px) {
  .col-md-6 {
    min-width: 100% !important;
  }
}


/** Boxed Content **/

.ischool-boxed-content {
  border: 3px solid #dcdcdc;
  padding: 12px 20px 20px 20px;
  margin-bottom: 20px;
  background: #f7f7f7;
}
.ischool-boxed-content ol {
  font-size: 14px;
}

/** li **/
.ischool-module-horizontal-nav {
  margin-top: 10px !important;
}

.ischool-top-nav, .ischool-module-horizontal-nav, .ischool-sidebar-nav, .ischool-sidebar-tabbed-nav {
  list-style-type: none;
  padding: 0;
}
.ischool-sidebar-nav, .ischool-sidebar-tabbed-nav {
  margin-left: 0;
}
.ischool-top-nav li, .ischool-module-horizontal-nav li, .ischool-sidebar-nav li, .ischool-sidebar-tabbed-nav li {
  border-radius: 3px;
  border: solid 1px #dcdcdc;
  margin-bottom: 10px;
}


/** Top Nav **/

.ischool-top-nav {
  margin-bottom: -10px !important;
}
.ischool-top-nav li {
  display: inline-block;
  padding: 7px 10px 8px 10px;
  background-color: #4b2e83; /** might need to make this inline **/
  margin-right: 7px;
  width: 150px;
}
.ischool-top-nav a {
  color: #ffffff;
}
.ischool-top-nav .current {
  color: #e8e3d3;
}
.ischool-top-nav .external {
  text-decoration: none !important;
}

/** Wrapper **/

.ischool-wrapper {
  margin-top: 30px;
}
.ischool-wrapper-inside {
  clear: both;
}

/** Main Content **/

.ischool-content {
  padding-right: 10px;
}

/** Top Module Nav **/

.ischool-module-horizontal-nav {
  margin: 0 0 10px 0;
}
.ischool-module-horizontal-nav li {
  display: inline-block;
  padding: 10px 8px;
  background-color: #f9f9f9;
  margin-right: 10px;
  width: 180px;
}

/** Sidebar Nav and Sidebar Tabbed Nav **/

.ischool-sidebar {
  margin: 0;
  color: #333;
  clear: both;
  padding-right: 40px;
}
.ischool-sidebar-tabbed {
  clear: both;
  padding-right: 40px;
  margin-top: 35px;
}
.ischool-sidebar-nav li, .ischool-sidebar-tabbed-nav li {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px 15px;
  margin-left: 0;
}
.ischool-top-nav a, .ischool-module-horizontal-nav a, .ischool-sidebar-nav li a, .ischool-sidebar-tabbed-nav {
  font-weight: bold;
  display: block;
  text-decoration: none !important;
}



/** Headers **/

.ischool-content h3:first-child {
  margin: 0 0 10px 0 !important;
}
.ischool-content p:first-child {
  margin-bottom: 10px !important;
}

h3.ischool-headerh3 {
  font-weight: bold;
  line-height: 36px !important;
}

h3.ischool-headerh3 a {
  font-size: 20px !important;
  color: #4b2e83;
}

.ischool-headerh3 {
  border-bottom: 1px solid #dcdcdc !important;
  padding: 0 0 5px 0 !important;
  margin: 25px 0 10px 0 !important;
}
.ischool-tabs-headerh3 {
  border-bottom: 1px solid #dcdcdc;
  padding: 0 0 5px 0;
  margin-top: 0 !important;
  margin-bottom: 15px;
}
.ischool-headerh3 a, .ischool-tabs-headerh3 a {
  text-decoration: none;
  color: #4b2e83;
}
.ischool-headerh4-day {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 10px 0;
}
.ischool-headerh4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 10px 0;
}


/** Weekly Anchor Links **/

.ischool-week-top {
  text-align: center;
  padding: 8px 10px;
  line-height: 24px;
  background: #f7f7f7;
  font-size: 14px;
  margin: 20px 0;
}
.ischool-week-top a {
  padding: 0 7px;
  font-weight: bold;
}

/** Back to Top **/

p.ischool-backtotop {
  text-transform: uppercase;
}
p.ischool-backtotop a {
  font-size: 12px !important;
  font-weight: bold;
  background: #e8e3d3;
  padding: 5px 8px 5px 5px;
}

/** Misc **/

.ischool-purple {
  color: #4b2e83;
}
.ischool-bold {
  font-weight: bold;
}
.ischool-center {
  text-align: center;
}
.ischool-clear {
  clear: both;
}
.ischool-highlighted {
  background: #e8e3d3;
  padding: 7px 10px;
}

table caption {
  background-color: #4b2e83 !important;
  color: #ffffff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding: 5px !important;
}

._235q2MA {
  font-weight: bold;
}
/*********************************************************************/
/***** END UW CUSTOM CSS  ********************************************/
/*********************************************************************/

/*********************************************************************/
/***** BEGIN DESIGN TOOLS THEME CUSTOMIZATIONS ***********************/
/*********************************************************************/

/*********************************************************************/
/*****    APPLE THEME   **********************************************/

#kl_wrapper_3.kl_apple #kl_banner h2 {
  background: #4b2e83;
}
#kl_wrapper_3.kl_apple #kl_banner #kl_banner_left .kl_mod_num {
  color: #4b2e83;
}
#kl_wrapper_3.kl_apple #kl_banner .kl_subtitle {
  color: #fff;
  border-color: #4b2e83;
  background-color: #85754d;
}
#kl_wrapper_3.kl_apple #kl_banner #kl_description {
  border-color: #4b2e83;
}
#kl_wrapper_3.kl_apple h3:not(.ui-state-default) {
  border-color: #444444;
  background: #d9d9d9;
  color: #000;
}
#kl_wrapper_3.kl_apple h4:not(.ui-state-default),
#kl_wrapper_3.kl_apple h5 {
  border-color: #444444;
}
#kl_wrapper_3.kl_apple #kl_navigation ul {
  background-color: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_apple #kl_navigation li a,
#kl_wrapper_3.kl_apple #kl_navigation li a:hover,
#kl_wrapper_3.kl_apple #kl_navigation li a:focus,
#kl_wrapper_3.kl_apple #kl_navigation li a:visited {
  color: #fff;
}
#kl_wrapper_3.kl_apple #kl_modules {
  border-color: #4b2e83;
}
#kl_wrapper_3.kl_apple > div > i {
  background-color: #d9d9d9;
  color: #000;
}
#kl_wrapper_3.kl_apple h3:not(.ui-state-default) i {
  color: #000;
}

/* Variation */
#kl_wrapper_3.kl_apple.variation_2 #kl_banner h2 {
  background: #4b2e83;
}
#kl_wrapper_3.kl_apple.variation_2 #kl_banner #kl_banner_left .kl_mod_num {
  color: #85754d;
}
#kl_wrapper_3.kl_apple.variation_2 #kl_banner .kl_subtitle {
  color: #fff;
  border-color: #4b2e83;
  background-color: #85754d;
}
#kl_wrapper_3.kl_apple.variation_2 #kl_banner #kl_description {
  border-color: #85754d;
}
#kl_wrapper_3.kl_apple.variation_2 #kl_navigation ul {
  background-color: #85754d;
  color: #fff;
}
#kl_wrapper_3.kl_apple.variation_2 #kl_navigation li a,
#kl_wrapper_3.kl_apple.variation_2 #kl_navigation li a:hover,
#kl_wrapper_3.kl_apple.variation_2 #kl_navigation li a:focus,
#kl_wrapper_3.kl_apple.variation_2 #kl_navigation li a:visited {
  color: #fff;
}
#kl_wrapper_3.kl_apple.variation_2 #kl_modules {
  border-color: #4b2e83;
}
#kl_wrapper_3.kl_apple.variation_2 > div > i {
  background-color: #444444;
  color: #fff;
}
#kl_wrapper_3.kl_apple.variation_2 h3:not(.ui-state-default) i {
  color: #fff;
}
#kl_wrapper_3.kl_apple.variation_2 h3:not(.ui-state-default) {
  color: #fff;
  background-color: #444444;
}

/*********************************************************************/
/*****    BASIC BAR THEME    *****************************************/

#kl_wrapper_3.kl_basic_bar #kl_banner h2 {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_basic_bar #kl_banner .kl_subtitle {
  color: #fff;
  border-color: #4b2e83;
  background-color: #85754d;
}
#kl_wrapper_3.kl_basic_bar #kl_banner #kl_description {
  border-color: #85754d;
}
#kl_wrapper_3.kl_basic_bar h3:not(.ui-state-default) {
  border-bottom-color: #4b2e83;
}
#kl_wrapper_3.kl_basic_bar h3:not(.ui-state-default) i {
  color: #4b2e83;
}
/* Variation */
#kl_wrapper_3.kl_basic_bar.variation_2 #kl_banner h2 {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_basic_bar.variation_2 #kl_banner .kl_subtitle {
  color: #fff;
  border-color: #4b2e83;
  background-color: #85754d;
}
#kl_wrapper_3.kl_basic_bar.variation_2 #kl_banner #kl_description {
  border-color: #4b2e83;
}
#kl_wrapper_3.kl_basic_bar.variation_2 h3:not(.ui-state-default) i {
  color: #85754d;
}

/*********************************************************************/
/*****    BASIC COLOR BANNER NAV THEME    ****************************/

#kl_wrapper_3.kl_basic_color #kl_banner,
#kl_wrapper_3.kl_basic_color_panel_nav #kl_banner {
    background-color: #4b2e83;
    color: #FFF;
}
#kl_wrapper_3.kl_basic_color #kl_banner #kl_banner_left,
#kl_wrapper_3.kl_basic_color_panel_nav #kl_banner #kl_banner_left {
   border-color:#fff;
}
#kl_wrapper_3.kl_basic_color #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_basic_color_panel_nav #kl_banner .kl_subtitle {
   background-color: #85754d;
   color: #fff;
   border-color: #85754d;
   border-top: 3px solid #fff;
   border-right: none;
   border-left: none;
}
#kl_wrapper_3.kl_basic_color #kl_banner #kl_description,
#kl_wrapper_3.kl_basic_color_panel_nav #kl_banner #kl_description {
   border-top: 3px solid #fff;
}
#kl_wrapper_3.kl_basic_color #kl_navigation ul li {
   background-color: #4b2e83;
   color: #fff;
}

#kl_wrapper_3.kl_basic_color #kl_navigation ul li a {
   border-bottom: 3px solid #fff;
}
#kl_wrapper_3.kl_basic_color #kl_navigation ul li a,
#kl_wrapper_3.kl_basic_color #kl_navigation ul li a:hover,
#kl_wrapper_3.kl_basic_color #kl_navigation ul li a:focus,
#kl_wrapper_3.kl_basic_color #kl_navigation ul li a:visited {
    color: #fff;
}
/* BASIC COLOR PANEL NAVIGAION */
#kl_wrapper_3.kl_basic_color_panel_nav #kl_navigation ul li a {
   color:  #4b2e83;
}
#kl_wrapper_3.kl_basic_color_panel_nav #kl_navigation ul li a:hover {
    color: #fff;
}
#kl_wrapper_3.kl_basic_color_panel_nav #kl_navigation li a:visited {
   color: #4b2e83;
}

/* Variation */
#kl_wrapper_3.kl_basic_color.variation_2 #kl_banner,
#kl_wrapper_3.kl_basic_color_panel_nav.variation_2 #kl_banner {
    background-color: #4b2e83;
    color: #FFF;
}
#kl_wrapper_3.kl_basic_color.variation_2 #kl_banner #kl_banner_left,
#kl_wrapper_3.kl_basic_color_panel_nav.variation_2 #kl_banner #kl_banner_left {
   border-color:#fff;
}
#kl_wrapper_3.kl_basic_color.variation_2 #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_basic_color_panel_nav.variation_2 #kl_banner .kl_subtitle {
   background-color: #85754d;
   color: #fff;
   border-color: #85754d;
   border-top-color: #fff;
   border-right: none;
   border-left: none;
}
#kl_wrapper_3.kl_basic_color.variation_2 #kl_navigation ul li {
   background-color: #85754d;
   color: #fff;
}
/* Media Queries w/ & w/out Course Menu Collapsed */
@media screen and (min-width: 640px) {
    #kl_wrapper_3.kl_basic_color_panel_nav #kl_navigation ul {
        background-color: rgba(255, 255, 255, 0.75);
    }
    #kl_wrapper_3.kl_basic_color_panel_nav #kl_navigation ul li a:hover {
      background-color: #85754d;
    }
    #kl_wrapper_3.kl_basic_color_panel_nav.variation_2 #kl_navigation ul li a:hover {
      background-color: #4b2e83;
    }
}

/*********************************************************************/
/*****    BOOKMARK THEME      ****************************************/

#kl_wrapper_3.kl_bookmark #kl_banner h2 {
   background-color: #4b2e83;
}
#kl_wrapper_3.kl_bookmark #kl_banner #kl_banner_left {
    border-right-color: #fff;
}
#kl_wrapper_3.kl_bookmark #kl_banner #kl_banner_left .kl_mod_num {
    color: #4b2e83;
}
#kl_wrapper_3.kl_bookmark #kl_banner .kl_subtitle {
    background-color: #85754d;
}
#kl_wrapper_3.kl_bookmark h3:not(.ui-state-default) {
    background-color: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_bookmark > div > i {
    background-color: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_bookmark h4:not(.kl_panel_heading),
#kl_wrapper_3.kl_bookmark h5:not(.kl_panel_heading) {
    background-color: #444444;
    color: #fff;
}
#kl_wrapper_3.kl_bookmark #kl_banner #kl_description {
    border: 1px solid #4b2e83;
}
#kl_wrapper_3.kl_bookmark #kl_navigation ul li a {
    background: #fff;
    color: #4b2e83;
    border-color:  #F4F4F4;
}
#kl_wrapper_3.kl_bookmark .kl_quick_check,
#kl_wrapper_3.kl_bookmark #kl_modules .ui-tabs-panel {
    background: #fff;
}

/* Variation */
#kl_wrapper_3.kl_bookmark.variation_2 #kl_banner h2 {
    background-color: #4b2e83;
}
#kl_wrapper_3.kl_bookmark.variation_2 #kl_banner #kl_banner_left .kl_mod_num {
    color: #4b2e83;
}
#kl_wrapper_3.kl_bookmark.variation_2 #kl_banner .kl_subtitle {
    background-color: #e8e3d3;
    color: #000;
}
#kl_wrapper_3.kl_bookmark.variation_2 h3:not(.ui-state-default) {
    background-color: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_bookmark.variation_2 > div > i {
    background-color: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_bookmark.variation_2 #kl_banner #kl_description {
    border: 1px solid #85754d;
}

/*********************************************************************/
/***** BOX LEFT THEMES              **********************************/

/* BASE THEME */
#kl_wrapper_3.kl_box_left h2 {
  border-bottom-color: #85754d;
}
#kl_wrapper_3.kl_box_left h3:not(.ui-state-default) {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
#kl_wrapper_3.kl_box_left h3:not(.ui-state-default) i {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_box_left #kl_modules div.kl_module_content h3 {
  border: 1px solid lightgray;
}
#kl_wrapper_3.kl_box_left #kl_banner #kl_description {
  background: #fff;
  border: 1px solid lightgray;
}
#kl_wrapper_3.kl_box_left > div > i {
  color: #fff;
}
#kl_wrapper_3.kl_box_left #kl_banner #kl_banner_left {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_box_left > div > i {
  background: #4b2e83;
}
#kl_wrapper_3.kl_box_left #kl_navigation ul li a,
#kl_wrapper_3.kl_box_left #kl_navigation ul li a:visited {
  background: #fff;
  color: #000;
  border: 1px solid #85754d;
}
#kl_wrapper_3.kl_box_left #kl_navigation ul li a:hover,
#kl_wrapper_3.kl_box_left #kl_navigation ul li a:focus {
 background: #85754d;
 color: #fff;
}

/* VARIATION */
#kl_wrapper_3.kl_box_left.variation_2 #kl_banner #kl_banner_left {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_box_left.variation_2 > div > i {
  background: #85754d;
  color: #fff;
}
#kl_wrapper_3.kl_box_left.variation_2 h3:not(.ui-state-default) i {
  background: #85754d;
  color: #fff;
}
#kl_wrapper_3.kl_box_left.variation_2 #kl_navigation ul li a,
#kl_wrapper_3.kl_box_left.variation_2 #kl_navigation ul li a:visited {
  background: #fff;
  color: #000;
  border: 1px solid #4b2e83;
}
#kl_wrapper_3.kl_box_left.variation_2 #kl_navigation ul li a:focus,
#kl_wrapper_3.kl_box_left.variation_2 #kl_navigation ul li a:hover {
  background: #4b2e83;
  color: #fff;
}

/*********************************************************************/
/***** CIRCLE-LEFT THEME *********************************************/

/* BASE THEME */

#kl_wrapper_3.kl_circle_left #kl_banner h2 {
    background: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_circle_left > div > h3:not(.ui-state-default) i,
#kl_wrapper_3.kl_circle_left #kl_modules div.kl_module_content h3 i  {
    border: 5px solid #fff;
}
#kl_wrapper_3.kl_circle_left #kl_navigation ul li i {
    border: 3px solid #fff;
    background: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_circle_left,
#kl_wrapper_3.kl_circle_left #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_circle_left #kl_banner #kl_description,
#kl_wrapper_3.kl_circle_left #kl_banner_image img {
    border-color: #4b2e83;
}
#kl_wrapper_3.kl_circle_left h3:not(.ui-state-default),
#kl_wrapper_3.kl_circle_left h4:not(.kl_panel_heading),
#kl_wrapper_3.kl_circle_left h5 {
    border-color: #85754d;
}
#kl_wrapper_3.kl_circle_left #kl_banner_left,
#kl_wrapper_3.kl_circle_left h3 i,
#kl_wrapper_3.kl_circle_left > div > i {
    background: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_circle_left #kl_navigation ul li a,
#kl_wrapper_3.kl_circle_left #kl_navigation ul li a {
    background: #4b2e83;
    color: #FFF;
}

/* Variation 2 */
#kl_wrapper_3.kl_circle_left.variation_2 #kl_banner h2 {
    background: #4b2e83;
    color: #FFF;
}
#kl_wrapper_3.kl_circle_left.variation_2,
#kl_wrapper_3.kl_circle_left.variation_2 #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_circle_left.variation_2 #kl_banner #kl_description,
#kl_wrapper_3.kl_circle_left.variation_2 #kl_banner_image img {
    border-color: #4b2e83;
}
#kl_wrapper_3.kl_circle_left.variation_2 h4:not(.kl_panel_heading),
#kl_wrapper_3.kl_circle_left.variation_2 h5 {
    border-color: #85754d;
}
#kl_wrapper_3.kl_circle_left.variation_2 h3:not(.ui-state-default) {
    border-color: #4b2e83;
}
#kl_wrapper_3.kl_circle_left.variation_2 #kl_banner_left,
#kl_wrapper_3.kl_circle_left.variation_2 h3 i,
#kl_wrapper_3.kl_circle_left.variation_2 > div > i {
    background: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_circle_left.variation_2 #kl_navigation ul li i {
    background: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_circle_left.variation_2 #kl_navigation ul li a,
#kl_wrapper_3.kl_circle_left.variation_2 #kl_navigation ul li a {
    background: #85754d;
    color: #fff;
}

/*********************************************************************/
/*****    CIRCLES OVERLAP THEME        *******************************/

/* This one still needs a lot of work */
#kl_wrapper_3.kl_circles_overlap #kl_banner #kl_banner_right {
    color: #696969;
    background: rgba(255, 255, 255, 0.68);
}
#kl_wrapper_3.kl_circles_overlap #kl_banner .kl_subtitle {
    background: rgba(255, 255, 255, 0.72);
}
#kl_wrapper_3.kl_circles_overlap #kl_banner #kl_description {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.42);
}
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a,
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a:hover,
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a:focus,
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a:visited {
 color: #fff;
}
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a {
    background-color: #4b2e83;
}
#kl_wrapper_3.kl_circles_overlap > div > i,
#kl_wrapper_3.kl_circles_overlap h3:not(.ui-state-default) i{
    background-color: #444444;
    color: #fff;
}
#tinymce.kl_mce_visual_blocks #kl_wrapper_3.kl_circles_overlap #kl_navigation li a,
#kl_wrapper_3.kl_circles_overlap #kl_navigation.kl_active li a,
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a:hover {
    color: #fff;
    background: #85754d !important;
}
#tinymce.kl_mce_visual_blocks #kl_wrapper_3.kl_circles_overlap #kl_navigation li a i,
#kl_wrapper_3.kl_circles_overlap #kl_navigation.kl_active li a i,
#kl_wrapper_3.kl_circles_overlap #kl_navigation li a:hover i {
    background-color: #85754d;
}

/*********************************************************************/
/***** COLORED HEADINGS & COLORED HEADINGS BOX LEFT THEMES  **********/

/* SHARED */
#kl_wrapper_3.kl_colored_headings_box_left > div,
#kl_wrapper_3.kl_colored_headings > div {
  background-color: #fff;
  border: 1px solid lightgray;
}

#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation ul,
#kl_wrapper_3.kl_colored_headings #kl_navigation ul {
  background-color: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation li a:hover,
#kl_wrapper_3.kl_colored_headings #kl_navigation li a:hover {
  color: #fff;
  background-color: #85754d;
  -moz-box-shadow:    inset 0 0 3px #fff;
  -webkit-box-shadow: inset 0 0 3px #fff;
  box-shadow:         inset 0 0 3px #fff;
}

/* With Banner */
#kl_wrapper_3.kl_colored_headings_box_left #kl_banner {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_colored_headings_box_left #kl_banner #kl_banner_left {
  background-color: #fff;
  color: #444444;
  border-bottom-color:#85754d;
}
#kl_wrapper_3.kl_colored_headings_box_left #kl_banner .kl_subtitle {
  background-color: #fff;
  color: #000;
}
/* Without default banner */
#kl_wrapper_3.kl_colored_headings #kl_banner {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_colored_headings #kl_banner #kl_banner_left {
  background-color: #fff;
  color: #444444;
}
#kl_wrapper_3.kl_colored_headings #kl_banner .kl_subtitle {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  background-color: #85754d;
}
#kl_wrapper_3.kl_colored_headings #kl_banner #kl_description {
  background-color: #fff;
  color: #000;
}
#kl_wrapper_3.kl_colored_headings #kl_navigation li a,
#kl_wrapper_3.kl_colored_headings #kl_navigation li a:hover,
#kl_wrapper_3.kl_colored_headings #kl_navigation li a:focus,
#kl_wrapper_3.kl_colored_headings #kl_navigation li a:visited,
#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation li a,
#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation li a:hover,
#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation li a:focus,
#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation li a:visited {
  color: #fff;
}
#kl_wrapper_3.kl_colored_headings_box_left #kl_navigation i,
#kl_wrapper_3.kl_colored_headings #kl_navigation i {
  background: #fff;
  color: #444444;
  border-bottom-color: #85754d;
}
#kl_wrapper_3.kl_colored_headings_box_left #kl_modules .ui-widget-content,
#kl_wrapper_3.kl_colored_headings #kl_modules .ui-widget-content {
  border: 1px solid lightgray;
  background: #fff;
}

/* Default Headings */
#kl_wrapper_3.kl_colored_headings_box_left #kl_modules h3,
#kl_wrapper_3.kl_colored_headings #kl_modules h3,
#kl_wrapper_3.kl_colored_headings_box_left > div > h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings > div > h3:not(.ui-state-default) {
  background-color: #e8e3d3;
  border-top: 5px solid #85754d;
  color: #000;
}
#kl_wrapper_3.kl_colored_headings_box_left > div > h3 i,
#kl_wrapper_3.kl_colored_headings > div > h3:not(.ui-state-default) i,
#kl_wrapper_3.kl_colored_headings_box_left #kl_modules h3 i,
#kl_wrapper_3.kl_colored_headings #kl_modules h3:not(.ui-state-default) i {
  background-color: #fff;
  color: #444444;
  border-bottom: 4px solid #85754d;
}
/* Objectives Blue*/
#kl_wrapper_3.kl_colored_headings_box_left #kl_objectives h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings #kl_objectives h3:not(.ui-state-default) {
  background-color: #e8e3d3;
  border-top: 5px solid #85754d;
  color: #000;
}
/* Readings Red */
#kl_wrapper_3.kl_colored_headings_box_left #kl_readings h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings #kl_readings h3:not(.ui-state-default) {
  background-color: #e8e3d3;
  border-top: 5px solid #85754d;
  color: #000;
}
/* Lectures Green */
#kl_wrapper_3.kl_colored_headings_box_left #kl_lectures h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings #kl_lectures h3:not(.ui-state-default) {
  background-color: #e8e3d3;
  border-top: 5px solid #85754d;
  color: #000;
}
/* Activities Orange */
#kl_wrapper_3.kl_colored_headings_box_left #kl_activities h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings #kl_activities h3:not(.ui-state-default) {
  background-color: #e8e3d3;
  border-top: 5px solid #85754d;
  color: #000;
}
/* Assignments Purple */
#kl_wrapper_3.kl_colored_headings_box_left #kl_assignments h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings #kl_assignments h3:not(.ui-state-default) {
  background-color: #e8e3d3;
  border-top: 5px solid #85754d;
  color: #000;
}
/* Other Styles */
#kl_wrapper_3.kl_colored_headings_box_left h4,
#kl_wrapper_3.kl_colored_headings h4 {
  border-bottom: 1px solid #E0E0E0;
  color: #000;
}
#kl_wrapper_3.kl_colored_headings_box_left h5,
#kl_wrapper_3.kl_colored_headings h5 {
  border-bottom: 1px solid #E0E0E0;
  color: #000;
}
#kl_wrapper_3.kl_colored_headings_box_left .well,
#kl_wrapper_3.kl_colored_headings .well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

/* VARIATION */
#kl_wrapper_3.kl_colored_headings_box_left.variation_2 #kl_banner {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_colored_headings_box_left.variation_2 #kl_banner #kl_banner_left {
  background-color: #fff;
  color: #696969;
  border-bottom-color:#85754d;
}
#kl_wrapper_3.kl_colored_headings_box_left.variation_2 #kl_navigation i,
#kl_wrapper_3.kl_colored_headings.variation_2 #kl_navigation i {
  background: #fff;
  color: #696969;
  border-bottom-color: #4b2e83;
}
#kl_wrapper_3.kl_colored_headings_box_left.variation_2 #kl_navigation li a:hover,
#kl_wrapper_3.kl_colored_headings.variation_2 #kl_navigation li a:hover {
  color: #fff;
  background-color: #3e3e3e;
  -moz-box-shadow:    inset 0 0 3px #fff;
  -webkit-box-shadow: inset 0 0 3px #fff;
  box-shadow:         inset 0 0 3px #fff;
}
#kl_wrapper_3.kl_colored_headings_box_left.variation_2 #kl_navigation ul,
#kl_wrapper_3.kl_colored_headings.variation_2 #kl_navigation ul {
  background-color: #85754d;
  color: #fff;
}
#kl_wrapper_3.kl_colored_headings.variation_2 #kl_banner #kl_banner_left {
  color: #fff;
  background-color: #85754d;
  border: 1px solid #fff;
}

/*********************************************************************/
/***** EMTA THEME         ********************************************/

#kl_wrapper_3.kl_emta {
  color: #000;
}
#kl_wrapper_3.kl_emta #kl_banner h2 {
  background-color: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_emta #kl_banner #kl_banner_left {
  border-right: 2px solid #fff;
}
#kl_wrapper_3.kl_emta #kl_banner #kl_banner_left .kl_mod_num{
  color: #4b2e83;
}
#kl_wrapper_3.kl_emta #kl_banner {
  background: #e8e3d3;
  color: #000;
}
#kl_wrapper_3.kl_emta #kl_banner #kl_description {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_emta h3:not(.ui-state-default) {
  color: #000;
  background: #d9d9d9;
}
#kl_wrapper_3.kl_emta #kl_navigation ul {
  background-color: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_emta #kl_navigation li a,
#kl_wrapper_3.kl_emta #kl_navigation li a:hover,
#kl_wrapper_3.kl_emta #kl_navigation li a:focus,
#kl_wrapper_3.kl_emta #kl_navigation li a:visited {
  color: #fff;
}
#kl_wrapper_3.kl_emta #kl_modules {
  border: 1px solid #4b2e83;
}

/********************************************************************/
/**** FLAT SECTIONS & FLAT SECTIONS MAIN THEMES *********************/

/**** FLAT SECTIONS MAIN ****/
#kl_wrapper_3.kl_flat_sections_main #kl_banner {
    background: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections_main #kl_banner #kl_banner_left{
    background-color: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections_main #kl_banner .kl_subtitle {
   background: #fff;
   color: black;
}
#kl_wrapper_3.kl_flat_sections_main #kl_banner #kl_description {
    background-color: #85754d;
   border-top: 2px solid #fff;
   border-bottom: 2px solid #fff;
}

/**** FLAT SECTIONS ****/
#kl_wrapper_3.kl_flat_sections #kl_banner {
    background: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections #kl_banner h2 {
   border-top: 1px solid #fff;
}
#kl_wrapper_3.kl_flat_sections #kl_banner #kl_banner_left{
   background-color: #fff;
   color: #696969;
}
#kl_wrapper_3.kl_flat_sections #kl_banner .kl_subtitle {
   background: #fff;
   color: #696969;
}
#kl_wrapper_3.kl_flat_sections #kl_banner #kl_description {
   background: #fff;
   color: #696969;
}

/**** SHARED ****/
#kl_wrapper_3.kl_flat_sections_main #kl_navigation ul,
#kl_wrapper_3.kl_flat_sections #kl_navigation ul {
    background-color: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections #kl_navigation li a,
#kl_wrapper_3.kl_flat_sections #kl_navigation li a:visited,
#kl_wrapper_3.kl_flat_sections_main #kl_navigation li a,
#kl_wrapper_3.kl_flat_sections_main #kl_navigation li a:visited {
   color: #fff;
}
#kl_wrapper_3.kl_flat_sections #kl_navigation li a:hover,
#kl_wrapper_3.kl_flat_sections #kl_navigation li a:focus,
#kl_wrapper_3.kl_flat_sections_main #kl_navigation li a:hover,
#kl_wrapper_3.kl_flat_sections_main #kl_navigation li a:focus {
    background: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections_main #kl_navigation i,
#kl_wrapper_3.kl_flat_sections #kl_navigation i {
   background: #fff;
   color: #696969;
   border: 1px solid #696969;
}
/* Content */
#kl_wrapper_3.kl_flat_sections_main h3:not(.ui-state-default),
#kl_wrapper_3.kl_flat_sections h3:not(.ui-state-default) {
    color: #000;
    border-top: 1px solid #E0E0E0;
}
#kl_wrapper_3.kl_flat_sections_main > div > i,
#kl_wrapper_3.kl_flat_sections > div > i {
    color: #696969;
    border: 1px solid #E0E0E0;
    background: #fff;
}
#kl_wrapper_3.kl_flat_sections_main h3:not(.ui-state-default) i:first-child,
#kl_wrapper_3.kl_flat_sections h3:not(.ui-state-default) i:first-child {
    color: #696969;
    border: 1px solid #E0E0E0;
    background: #fff;
}
#kl_wrapper_3.kl_flat_sections_main h4,
#kl_wrapper_3.kl_flat_sections h4 {
    color: #000;
    border-bottom: 1px solid #E0E0E0;
}
#kl_wrapper_3.kl_flat_sections_main h5,
#kl_wrapper_3.kl_flat_sections h5 {
    color: #000;
    border-bottom: 1px solid #E0E0E0;
}
#kl_wrapper_3.kl_flat_sections_main > div:nth-child(odd),
#kl_wrapper_3.kl_flat_sections > div:nth-child(odd) {
    background: #F7F7F7;
}
#kl_wrapper_3.kl_flat_sections_main .well,
#kl_wrapper_3.kl_flat_sections .well {
   background-color: #f5f5f5;
   border: 1px solid #e3e3e3;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
#kl_wrapper_3.kl_flat_sections_main blockquote,
#kl_wrapper_3.kl_flat_sections blockquote {
    border-left: 5px solid #E0E0E0;
}

/* VARIATION */
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_navigation li a,
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_navigation li a:visited,
#kl_wrapper_3.kl_flat_sections_main.variation_2 #kl_navigation li a,
#kl_wrapper_3.kl_flat_sections_main.variation_2 #kl_navigation li a:visited {
    background: #85754d;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_navigation li a:hover,
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_navigation li a:focus,
#kl_wrapper_3.kl_flat_sections_main.variation_2 #kl_navigation li a:hover,
#kl_wrapper_3.kl_flat_sections_main.variation_2 #kl_navigation li a:focus {
    background: #4b2e83;
    color: #fff;
}
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_banner h2 {
   border-top-color: #85754d;
}
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_banner #kl_banner_left{
   background-color: #85754d;
   color: #fff;
}
#kl_wrapper_3.kl_flat_sections.variation_2 #kl_banner .kl_subtitle {
   background: #fff;
   color: #696969;
   border-top: 1px solid #85754d;
   border-bottom: 1px solid #85754d;
}


/*********************************************************************/
/***** GENERIC THEME  ************************************************/

/* .kl_generic: This one is intentionally generic so there is no customization needed */


/*********************************************************************/
/*****    RIBBONS THEME      *****************************************/

#kl_wrapper_3.kl_ribbons_main #kl_banner #kl_banner_left {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_ribbons_main #kl_banner #kl_banner_right {
  background: rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid #b9b9b9;
}
#kl_wrapper_3.kl_ribbons_main #kl_banner .kl_subtitle {
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #b9b9b9;
}
#kl_wrapper_3.kl_ribbons_main #kl_banner #kl_description {
  border: 4px double #b9b9b9;
  background: rgba(255, 255, 255, 0.8);
}
#kl_wrapper_3.kl_ribbons_main #kl_navigation a i {
  background: #85754d;
  color: #FFF;
}
#kl_wrapper_3.kl_ribbons_main #kl_navigation li a{
  background: rgba(255, 255, 255, 0.8);
  color: #545454;
  border: 1px solid #b9b9b9;
}
#kl_wrapper_3.kl_ribbons_main h3:not(.ui-state-default) {
  background-color: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_ribbons_main h3:not(.ui-state-default) i {
  background: #FFF;
  color: #4b2e83;
}
#kl_wrapper_3.kl_ribbons_main > div > i {
  background-color: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_ribbons_main .kl_quick_check,
#kl_wrapper_3.kl_ribbons_main #kl_modules .ui-tabs-panel {
  background: #fff;
}

/* VARIATION */
#kl_wrapper_3.kl_ribbons_main.variation_2 #kl_banner #kl_banner_left {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_ribbons_main.variation_2 #kl_navigation a i {
  background: #4b2e83;
  color: #FFF;
}
#kl_wrapper_3.kl_ribbons_main.variation_2 h3:not(.ui-state-default) {
  background-color: #4b2e83;
  color: #fff;
}

/* ADJUSTMENTS FOR SCREEN SIZE */
/* Course Menu Expanded */
@media screen and (min-width: 950px) {

  body.course-menu-expanded #kl_wrapper_3.kl_ribbons_main #kl_navigation li a{
    background: #fff;
  }
  body.course-menu-expanded #kl_wrapper_3.kl_ribbons_main #kl_navigation a:after {
    border: 22px solid #fff;
    border-left: 20px solid transparent;
  }
}
/* Banner text above Navigation as ribbons */
/* Course Menu Collapsed */
@media screen and (min-width: 800px) and (max-width: 969px) {
  body:not(.course-menu-expanded) #kl_wrapper_3.kl_ribbons_main #kl_navigation li a{
    background: #fff;
  }
  body:not(.course-menu-expanded) #kl_wrapper_3.kl_ribbons_main #kl_navigation a:after {
    border: 22px solid #fff;
    border-left: 20px solid transparent;
  }
}
/* Navigation as rotated ribbons */
/* Course Menu Collapsed */
@media screen and (min-width: 1000px) {
  body:not(.course-menu-expanded) #kl_wrapper_3.kl_ribbons_main #kl_navigation li a{
    background: #fff;
  }
  body:not(.course-menu-expanded) #kl_wrapper_3.kl_ribbons_main #kl_navigation a:after {
    border: 22px solid #fff;
    border-left: 20px solid transparent;
  }
}

/*********************************************************************/
/***** ROUNDED-INSET THEMES 1, 2    **********************************/

/* BASE */
#kl_wrapper_3.kl_rounded_inset h2 {
 border-color: #8A8A8A;
 background: #fff;
 color: #000;
}
#kl_wrapper_3.kl_rounded_inset #kl_banner {
 background: #4b2e83;
 color: #fff;
}
#kl_wrapper_3.kl_rounded_inset #kl_banner_left {
  border-color: #4b2e83;
}
#kl_wrapper_3.kl_rounded_inset #kl_banner #kl_description,
#kl_wrapper_3.kl_rounded_inset #kl_banner .kl_subtitle {
  color: #fff;
}
#kl_wrapper_3.kl_rounded_inset #kl_banner #kl_description {
 background: #85754d;
 border-bottom: 1px solid #fff;
}
#kl_wrapper_3.kl_rounded_inset h3:not(.ui-state-default) {
  border-color: #efefef;
  background-color: #fff;
}
#kl_wrapper_3.kl_rounded_inset > div > i {
  border-color: #efefef;
}
#kl_wrapper_3.kl_rounded_inset #kl_navigation ul li a,
#kl_wrapper_3.kl_rounded_inset #kl_navigation ul li a:visited {
 color: #4b2e83;
 border-color: #85754d;
}
#kl_wrapper_3.kl_rounded_inset #kl_navigation ul li a:hover,
#kl_wrapper_3.kl_rounded_inset #kl_navigation ul li a:focus {
 background: #4b2e83;
 color: #FFF;
}
/* VARIATION 2 */
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_banner {
 background: #85754d;
 color: #fff;
}
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_banner_left {
  border-color: #85754d;
}
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_banner #kl_description,
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_banner .kl_subtitle {
  color: #fff;
}
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_banner #kl_description {
 background: #4b2e83;
}
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_navigation ul li a,
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_navigation ul li a:visited {
 color: #000;
 border-color: #4b2e83;
}
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_navigation ul li a:hover,
#kl_wrapper_3.kl_rounded_inset.variation_2 #kl_navigation ul li a:focus {
 background: #4b2e83;
 color: #fff;
}

/*********************************************************************/
/***** SQUARE RIGHT THEMES 1, 2, 3  **********************************/

/* BASE */
#kl_wrapper_3.kl_square_right h2 {
  background: #85754d;
  color: #fff;
}
#kl_wrapper_3.kl_square_right #kl_banner_left {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_square_right #kl_banner #kl_description,
#kl_wrapper_3.kl_square_right #kl_banner .kl_subtitle {
 border-color: #85754d;
}
#kl_wrapper_3.kl_square_right #kl_banner #kl_description {
  border-color: #4b2e83;
}
#kl_wrapper_3.kl_square_right h3:not(.ui-state-default) {
 border-color: #D5D5D5;
 background-color: #fff;
}
#kl_wrapper_3.kl_square_right #kl_banner .kl_subtitle {
 color: #4b2e83;
}
#kl_wrapper_3.kl_square_right #kl_navigation ul li i {
 background: #85754d;
 color: #fff;
}
#kl_wrapper_3.kl_square_right > div > i,
#kl_wrapper_3.kl_square_right h3:not(.ui-state-default) i {
 background: #4b2e83;
 color: #fff;
}
#kl_wrapper_3.kl_square_right #kl_navigation ul li a,
#kl_wrapper_3.kl_square_right #kl_navigation ul li a:visited {
 background: #fff;
 color: #000;
 border-color: #85754d;
}
#kl_wrapper_3.kl_square_right #kl_navigation ul li a:hover,
#kl_wrapper_3.kl_square_right #kl_navigation ul li a:focus {
 background: #4b2e83;
 color: #FFF;
}

/* 2 */
#kl_wrapper_3.kl_square_right.variation_2 h2 {
  background: #4b2e83;
  color: #fff;
}
#kl_wrapper_3.kl_square_right.variation_2 #kl_banner_left {
  background: #85754d;
  color: #fff;
}
#kl_wrapper_3.kl_square_right.variation_2 #kl_banner #kl_description,
#kl_wrapper_3.kl_square_right.variation_2 #kl_banner .kl_subtitle {
 border-color: #4b2e83;
}
#kl_wrapper_3.kl_square_right.variation_2 > div > i,
#kl_wrapper_3.kl_square_right.variation_2 h3:not(.ui-state-default) i {
 background: #85754d;
 color: #fff;
}
#kl_wrapper_3.kl_square_right.variation_2 #kl_navigation ul li a,
#kl_wrapper_3.kl_square_right.variation_2 #kl_navigation ul li a:visited {
 background: #fff;
 color: #000;
 border-color: #85754d;
}
#kl_wrapper_3.kl_square_right.variation_2 #kl_navigation ul li a:hover,
#kl_wrapper_3.kl_square_right.variation_2 #kl_navigation ul li a:focus {
 background: #85754d;
 color: #fff;
}
#kl_wrapper_3.kl_square_right.variation_2 #kl_navigation ul li i {
 background: #4b2e83;
 color: #fff;
}

/*********************************************************************/
/***** Override Default Uppercase for all themes  ********************/
#kl_wrapper_3.kl_basic_bar h3:not(.ui-state-default),
#kl_wrapper_3.kl_circles_overlap #kl_banner #kl_banner_right,
#kl_wrapper_3.kl_circles_overlap #kl_banner #kl_banner_right,
#kl_wrapper_3.kl_colored_headings_box_left #kl_banner h2,
#kl_wrapper_3.kl_colored_headings #kl_banner h2,
#kl_wrapper_3.kl_colored_headings #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_colored_headings_box_left > div > h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings > div > h3:not(.ui-state-default),
#kl_wrapper_3.kl_colored_headings_box_left h4,
#kl_wrapper_3.kl_colored_headings h4,
#kl_wrapper_3.kl_flat_sections_main #kl_banner h2,
#kl_wrapper_3.kl_flat_sections #kl_banner h2,
#kl_wrapper_3.kl_flat_sections #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_flat_sections h3:not(.ui-state-default),
#kl_wrapper_3.kl_flat_sections_main h4,
#kl_wrapper_3.kl_flat_sections h4,
#kl_wrapper_3.kl_ribbons_main #kl_banner #kl_banner_left,
#kl_wrapper_3.kl_ribbons_main #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_rounded_inset h3:not(.ui-state-default),
#kl_wrapper_3.kl_rounded_inset_1 h3:not(.ui-state-default),
#kl_wrapper_3.kl_rounded_inset_2 h3:not(.ui-state-default),
#kl_wrapper_3.kl_rounded_inset_3 h3:not(.ui-state-default),
#kl_wrapper_3.kl_rounded_inset #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_rounded_inset_1 #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_rounded_inset_2 #kl_banner .kl_subtitle,
#kl_wrapper_3.kl_rounded_inset_3 #kl_banner .kl_subtitle {
   text-transform: none;
}
/*********************************************************************/
/***** END DESIGN TOOLS THEME CUSTOMIZATIONS *************************/
/********************************************************************
