/* remove the instructure registration banner on splash login screen */
#register_link { display: none !important; }

/* hide conclude course links */
a[href$="confirm_action?event=conclude"] { display: none !important; }

/* hide course photos nav link */
a.context_external_tool_37913 { display: none !important; }

/* hide uw groups nav link */
a.context_external_tool_31485 { display: none !important; }

/* hide uw people nav link */
a.context_external_tool_31483 { display: none !important; }

.uw-groups-button-image {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url("https://storage.googleapis.com/canvas-static/uw-global/img/W-Logo_555_16x.png") no-repeat 0 2px;
}

/* warnings for disabled navigation links */
#nav_enabled_list .uw_enabled_message {
  display: block !important;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 10px;
  line-height: 0.7em;
}

#nav_disabled_list .uw_disabled_message {
    color: black;
    font-weight: 800;
}

#unauthorized_message { display: none; }
#uw_unauthorized_message { margin: 4em auto; width: 700px; }
#uw_unauthorized_message > span { padding-left: 4em; display: block; }
h3.unauth-alert-head { font-size: 2em; }
p.unauth-alert { padding-top: 0 3em; font-size: 1.2em; line-height: 1em; }
p.unauth-alert-bold { font-weight: 800; }
div.unauth-extra { padding-left: 4em; line-height: 1em; }
div.unauth-extra p { margin-top: 12px; margin-bottom: 5px; }
ul.unauth-extra-list { font-size: .9em; }
